header{
    margin-bottom: 50px;
    padding-top: 20px;
}

#contenido, .contactoView{
    margin-top: 50px;
    margin-bottom:50px;
}
.icono{
    font-size: 150px;
    text-align:center;
}
.boton{
    float:right;
    margin-top: 30px;
}
.botonRegistro{
    float:right;
}
.titular{
    text-align: center;
}
#intro{
    background-color: gainsboro;
    padding-top:50px;
    padding-bottom:50px;
}
footer li{
    margin-top: 20px;
}
footer{
    padding-bottom: 25px;
    padding-top: 15px;
    font-size: 20px;
    /*margin-top:25px;*/
}
.iconosFooter li{
    font-size: 30px;
    margin-right: 90px;
}

.nosotros{
    margin-top: 100px;
}

.nosotrosimg{
    width:100%;
    margin: 0 auto;
    padding:0;
}
.card{
    background-color: gainsboro;
}

.logo{
    color:white;
}
.map{
    width: 100%;

}
.mapa{
    padding-top:0px;}

.h4formulario{
    padding:20px;
}

.contacto, .registro{
    background-color: gainsboro;
    padding-top:20px;
    padding-bottom:20px;
    border: 1px solid #B0ACAC;
}
.registro, .contacto{
    opacity:0.8;
}
.contenedorRegistro,{
    padding-top:50px;
    padding-bottom:50px;

}


.crearEmpresa{
    background-image: url("/gestpymes/css/img/registro.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    padding:1px;
    opacity: 0.99;
    padding-top:50px;
    padding-bottom: 50px;
}

.contactoBody{
    background-image: url("/gestpymes/css/img/contacto.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    padding:1px;
    opacity: 0.99;
    padding-top:50px;
    padding-bottom: 50px;
    margin-top:-50px;
}



.servicio{
    margin-top: 50px;
    border: 1px solid #B0ACAC;
    background-color: gainsboro;
    padding-right:0;
}


#serviciosEmpresa{
    padding-top:50px;
    padding-bottom:50px;
    background-image: url("/gestpymes/css/img/company.jpg");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    padding:1px;
    
    padding-top:50px;
    padding-bottom: 50px;
    

}
#serviciosEmpresa .titulo{
background-color: gainsboro;
width: 100%
}